*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color:white;
}

#header{
    width: 100;
    height: 100;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
}

nav img{
    width: 100px;
    cursor: pointer;
}

.navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{ 
    text-decoration: none;
    color: orangered;
    font-size: 16px;
    font-weight: 500;
}